.App {
  text-align: center;
  
}

.SearchButton {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.card-movie {
  margin: 10px;
}
